* {
    text-align: center;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
}


.container {
    display: flex;
    flex-direction: row;
    margin: 12px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.container div {
    background: peachpuff;
    border: 4px solid brown;
    height: 100px;
    width: 250px;
    margin: 16px;
    /*flex: 1 1 auto;*/
}
